.header {
  margin-bottom: 24px;
}

.title {
  margin-top: 20px;
}

.actions {
  display: flex;
  gap: 16px;
}

.loading {
  text-align: center;
  margin-top: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.cardItem {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.subtitle {
  font-size: 14px;
  color: var(--text-secondary);
  margin-bottom: 10px;
}


@media (max-width: 576px) {
  .actions {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .grid {
    padding: 0 16px;
  }
}

.header {
  margin-bottom: 24px;
  padding: 0 16px;
}

.pagination {
  display: flex;
  justify-content: flex-end;

  margin-top: 24px;
}

.title {
  margin-top: 20px;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

@media (max-width: 576px) {
  .filters {
    flex-direction: column;
    gap: 12px;
  }

  .header {
    padding: 0 16px;
  }
}