
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #343a40;
}

.box{
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.home-link {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

.img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: 60px;
}